@import "/css/font-awesome/css/all.min.css";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid #c9cacc;
}

body {
  margin: 0;
  height: 100%;
  background-color: #1d1f21;
  color: #c9cacc;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
}

.name {
  color: #ccc0f6;
  text-decoration: none;
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

.name:hover {
  background-image: linear-gradient(transparent, transparent 4px, #7a5ae9 4px, #7a5ae9);
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-weight: normal;
}

.header {
  text-align: center;
  padding: 20%;
  padding-top: 2%;
  padding-bottom: 0%;
}

.logo {
  width: 10%;
  height: auto;
  border-radius: 20px;
}

.links {
  padding: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.link {
  text-align: center;
  font-size: 20px;
  margin-top: 1px;
  padding: 15px 0;
  max-width: 590px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #00000000;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.link:hover {
  color: black;
  background-color: #ffffffe4;
  border: 2px solid;
  border-color: #dedede;
}